nav {
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    padding-left: 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

nav ul li {
    padding: 5px 0;
}